/*makes all scrolling in webpage be smooth*/
html {
	scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #e5eaf2;

  }
  

.topnav {
  font-family: "Shadows Into Light", cursive;;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}
/*GOOGLE FONTS- there is no shadows class */
.shadows-into light-regular {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  


  .topnav a {
    float: left;
    display: block;
    color: #1942d4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(3, 14, 59);
  }
  
  .topnav a.active {
    background-color: #021351;
    color: rgb(238, 238, 238);
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }


.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    /*background-color: #000623;*/
    background-image: linear-gradient(70deg, #0a053c , #0f0758,#05204e, #0f0758, #0a053c);
    color: white;
}
/*Viewport is the browser window size. 1vw = 1% of viewport width.*/
.name{
    font-family: "Shadows Into Light", cursive;;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    text-align: center;
    padding-bottom: 8px;

}

/*FOOTER CSS Below*/
* {
    box-sizing: border-box;
  }

  .footer-content {
    font-family: "Shadows Into Light", cursive;;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
  }
  

  .main {
    float: left;
    width: 20%;
    padding: 2.5vw 15px;
    list-style: none;
  }

  /* unvisited link */
  .main a:link {
    color: #f6f7f6;
    text-decoration: none;
  }
  
  /* visited link */
  .main a:visited {
    color: #4af11c;
    text-decoration: none;
  }
  
  /* mouse over link */
  .main a:hover {
    color: hotpink;
  }
  
  /* selected link */
  .main a:active {
    color: blue;
  }
  
  .right {
    /*background-color: #e5e5e5;*/
    background-image: linear-gradient(70deg, #e5eaf2 , #e5eaf2,#e5eaf2, #e5eaf2);
    float: left;
    width: 20%;
    padding: 2.5vw;
    text-align: left;
    color: #000000;
    
    list-style: none;
  }

    /* unvisited link */
    .right a:link {
        color: #150b01;
        text-decoration: none;
      }
      
      /* visited link */
      .right a:visited {
        color: #045704;
        text-decoration: none;
      }
      
      /* mouse over link */
      .right a:hover {
        color: hotpink;
      }
      
      /* selected link */
      .right a:active {
        color: blue;
      }

  
  .far-right{
    float: left;
    width: 40%;
    padding: 2.5vw 15px;
    text-align: left;
    color: #ffffff;

  }
  
  @media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .main, .right {
      width: 100%;
      font-size: 4vw;
    }
    .far-right{
        width: 100%;
        font-size: 4vw;
    }

    /*Font Sizes*/
    .resize-font{
      font-size: 3.5vw;
    }
    .snippets-content{
      font-size: 3.5vw;
    }
    .footer-content{
      font-size: 3.5vw;
    }

    .name{
      font-size: 4vw;
    }
  }


